body{
/*  background-color: #7BC6DF;
background-color: #AEA2AF;
  */

    /*margin-top: 50px;
  margin-right: 400px;
  margin-left: 400px;
  border-left: 30px;
  */
  background-color: #effefa;
  width: 900px;
    margin: auto;
}
pre{
  text-align: center;
  font-size: 20px;
}

#othon{
  background-color: #effefa;
  border-top:0px;
}

.sin-fondo{
  background-color: #effefa;
  border-top:0px;
}

.cuento{
  text-align: center;

}

.cortazar{
  text-align: center;

}
.cortazar img{

  vertical-align:   middle;
  width: 20%;

}

.contenedor{
/*  background-image: url("../img/paper_2/paper_2.png");
*/
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-top-width: 7px;
border-block-start-style:outset;
border-block-start-color:#effefa;
  background-color: #FFFFFF;
  border: 10px trasnparent #fff;
  overflow: auto;

  padding-left: 25px;
  padding-right: 20px;
  border-block-end-style: dotted;
    border-bottom-color:  black;
  border-bottom-right-radius: 50px;
/*  width: 1000px;
  height: 1000px;
  */
}
.texto-resumen, .texto-opinionpersonal {
  text-align: justify;
  font-style: italic;
  font-size: 15px;
border-left: 10px dashed #effefe;

}
.texto-resumen{
  border-block-end-style:dotted;
  border-bottom-color: 5px black;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
p{
  padding-left: 15px;
  padding-bottom: 20px;
}
.menu ul li{
display: inline-block;
line-height: 20px;

}
.menu a, .menu a:link, .menu a:visited, .menu a:hover,  .menu a:active{
  color:#000000;
  text-decoration: none;
}
.menu  ul li a{
    float: left;
    padding: 5px 10px;
    background-color: #ACCCDF;

/*    border-radius: 30%;
  */
    border-top-right-radius: 30px;
 border-bottom-left-radius: 30px;
    margin-left: 10px;
    font-size: 18px;
    text-decoration: none;

}
.yo{

  text-align: center;
}
.yo img{
  width: 200px;
  border-radius: 50%;
  vertical-align: middle;
  float:  none;

}
